*{
    box-sizing: border-box;
}
/*Body Section*/
body {
    width: 325px;
    margin: 75px auto;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: 	#ffffff;
    background-color: #090b1a;
    text-align: center;
}
/*Text section*/
.card{
    background-color: #1b1938;
    padding: 45px 30px 30px 30px;
    border-radius: 0px 0px 10px 10px;
}
.texts h1{
    color: white;
    margin-top: 0px;
    padding-right: 5px;
    padding-left: 5px;
}
.texts p{
    line-height: 1.6em;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}
.violet {
  color:#aa5cdb;
}

/*Image section*/
img {
    width: auto;

    max-width: 100%;

    border-radius: 10px 10px 0px 0px;
    opacity: 0.55;

}
div .image{
    height: 238.531px;
    overflow: hidden;
    background: 	#9a0ff0;
    border-radius: 10px 10px 0px 0px;
}
/*Number section*/
div .numbers div h2{
    color: #ffffff;
    margin-bottom: 2.5px;
}
div .numbers div span{
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 11px;
}
/*Mobile section*/
@media screen and (min-width:720px) {
    body{

        width: 1080px;
        margin: 150px auto;
        text-align: left;
    }
    div .image{
        float: right;
        width: 50%;
        height: 446px;
        border-radius: 0px 10px 10px 0px;
    }
    div .card{
        width: 50%;
        height: 446px;
        padding-top: 75px;
        padding-left: 50px;
        border-radius: 10px 0px 0px 10px;
    }
    div .card h1{
        font-size:32px;
        line-height: 1.3em;
        padding-bottom: 5px;
    }
    div .texts{
        margin-right: 70px;
    }
    div .card p{
        padding-left: 0px;

    }
    img {

        height: 446px;
        border-radius: 0px 0px 0px 0px;
    }
    .numbers {
        display: flex;
        padding-top: 30px;
    }
    .numbers div{
        margin-right: 70px;
    }
}
/*Footer section*/
footer {
   font-size: 11px;
   text-align: center;
  margin-top:25px;
}
footer a {
  color: #3e52a3;
}
